#!/bin/sh

if [ "x${TOWER_USER}" == "x" ]; then
    echo ERROR: TOWER_USER environment variable undefined.
    exit 1
fi

if [ "x${TOWER_PASSWORD}" == "x" ]; then
    echo ERROR: TOWER_PASSWORD environment variable undefined.
    exit 1
fi

# Invoke the demo-dyndns application template with extra_vars...
curl -s -u ${TOWER_USER}:${TOWER_PASSWORD} \
     -H 'Content-Type: application/json' \
     -XPOST \
     -d '{"extra_vars": "{\"ip\": \"{{ ip }}\"}"}' \
     https://ansible-tower-web-svc-tower.apps.home.labdroid.net/api/v2/job_templates/demo-dyndns/launch/



